{% extends 'base.html.twig' %}

{% form_theme formManga 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>Ajout d'un manga</h1>

{{ form_start(formManga) }}

{{ form_row(formManga.title, {'attr': {'placeholder': "titre du manga"}}) }}
{{ form_row(formManga.author, {'attr': {'placeholder': "auteur du manga"}}) }}
{{ form_row(formManga.genre, {'attr': {'placeholder': "genre du manga"}}) }}
{{ form_row(formManga.editionF, {'attr': {'placeholder': "Maison edition française du manga"}}) }}
{{ form_row(formManga.editionJ, {'attr': {'placeholder': "Maison edition Japonnaise du manga"}}) }}

<button type="submit" class="btn btn-dark btn-success">
{% if editMode %}

    Enregistrer les modifications
    
{% else %}

Ajouter un manga

{% endif %}

</button>

{{ form_end(formManga) }}

{% endblock %}