{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="manga">

    {% for manga in mangas %}
    <manga>
        <h2>{{ manga.title }}</h2>
        <div class="metadata">Ajouter le 30/01/2019</div>
        <div class="content">
            <img src="https://place-hold.it/300x500" alt="">
            {{ manga.author | raw }}
            {{ manga.editionF | raw  }}
            {{ manga.editionJ | raw }}
            <a href="{{ path('blog_show', {'id' : manga.id}) }}" class="btn btn-primary">Description</a>
        </div>
    </manga><br>
    {% endfor %}
</section>
{% endblock %}